<form [formGroup]="editForm" (ngSubmit)="Submit()">
  <div class="form-wrapper">
    <div class="title">
      <h3>{{ editBookStateService.action }} Book</h3>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
      <div class="content-column">
        <div class="form-field">
          <mat-label>Title</mat-label>
          <span class="spacer"></span>
          <div class="form-field-input">
            <input matInput formControlName="title" />
          </div>
        </div>
        <div class="form-field">
          <mat-label>Cover</mat-label>
          <span class="spacer"></span>
          <div class="form-field-input">
            <input
              type="file"
              class="file-input"
              (change)="onFileSelected($event)"
              #fileUpload
            />

            <div class="file-upload">
              <input readonly="true" matInput value="{{ fileName }}" />

              <button
                type="button"
                mat-flat-button
                color="primary"
                class="upload-btn"
                (click)="fileUpload.click()"
              >
                Choose...
              </button>
            </div>
          </div>
        </div>

        <div class="form-field">
          <mat-label>Genre</mat-label>
          <span class="spacer"></span>
          <div class="form-field-input">
            <input matInput formControlName="genre" />
          </div>
        </div>
        <div class="form-field">
          <mat-label>Author</mat-label>
          <span class="spacer"></span>
          <div class="form-field-input">
            <input matInput formControlName="author" />
          </div>
        </div>
      </div>

      <div class="content-column">
        <div class="form-field-textarea">
          <mat-label>Content</mat-label>
          <span class="spacer"></span>
          <textarea matInput formControlName="content"> </textarea>
        </div>
      </div>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" type="submit">
        {{ editBookStateService.action }}
      </button>
      <span style="width: 1vw"></span>
      <button mat-raised-button color="accent" (click)="ClearEditBookState()">
        Clear
      </button>
    </div>
  </div>
</form>
