.flex-column-conteiner {
  //padding: 0 2vh 0 2vh;
  margin: 0 2vh 0 2vh;;
  display: flex;
  height: 100%;
  max-height: 100%;
  flex-direction: column;
  //flex-wrap:wrap;
  overflow-y: hidden;
}

.title{
  flex: 0 0 10%;
  display: flex;
  align-items:center;
}

.flex-editbook {
  flex: 0 0 40%;
  margin-right: 2vh;
}

.flex-mat-tab {
  flex: 0 0 auto;
}

.flex-book-list {
  flex: 0 1 40%;
}

h1{
  margin: 0;
  font-size: 2rem;
}
