.flex-column-conteiner {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.flex-top {
  flex: 0 0 40%;
  background-color: antiquewhite;
}

.flex-bottom {
  flex: 0 0 60%;
  background-color: aquamarine;
}

